body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 20px;
}

#logo {
    height: 50px;
    width: 50px;
}

#titolo {
    font-size: 50px;
    font-weight: bold;
}

.add-task {
    background-color: #14aaf5;
    color: #ffffff;
    padding: 4px 8px;
        border-radius: 5px;
        font-size: 12px;
        margin-left: 10px;
}

.add-section {
    background-color: #ffffff;
    color: gray;
    padding: 4px 8px;
    border-radius: 5px;
    font-size: 12px;
    margin-left: 10px;
}

.container {
    background-color: white;
    max-width: 800px;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
   
}

h1 {
    font-size: 24px;
}

.button-container {
    margin: 10px 0;
}

.button-container{
    background-color: white;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    margin-right: 5px;
    text-align: center;
}

.section {
    margin-top: 20px;
    text-align: left, center;
}

.section-title {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 10px;
}

.task {
    list-style: none;
    padding: 0;
}

.task li {
    display: list-item;
    align-items: center;
    padding: 8px 0;
}

.task li .status {
    font-size: 18px;
    margin-right: 10px;
}

.label {
    background-color: #007bff;
    color: white;
    padding: 4px 8px;
    border-radius: 5px;
    font-size: 12px;
    margin-left: 10px;
}

.label.q1-goals {
    background-color: #9b59b6;
}

.label.recruiting {
    background-color: #2ecc71;
}

.label.mobile {
    background-color: #f39c12;
}

.label.website {
    background-color: #e91e63;
}

.label.sales {
    background-color: #8bc34a;
}