*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f6f8f9;
    padding: 20px;
}

header{
    padding: 10px 20px;
    background-color: #ffffff;
    margin-bottom: 40px;
}

#logo {
    vertical-align: middle;
}

#titolo {
    vertical-align: middle;
    font-size: 30px;
    font-weight: bold;
}

.add-task {
    background-color: #14aaf5;
    color: #ffffff;
    padding: 4px 8px;
        border-radius: 5px;
        font-size: 12px;
        margin-left: 10px;
}

.add-section {
    background-color: #ffffff;
    color: gray;
    padding: 4px 8px;
    border-radius: 5px;
    font-size: 12px;
   
}

.container {
    background-color: white;
    max-width: 800px;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
   
}

.container-list{
    margin: 100px;
    border-collapse: collapse;

}



.button-container{
    background-color: white;
    color: black;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    margin: 0px auto;
    max-width: 790px;
    padding: 50px;
    margin-bottom: 5px;
}

.section {
    margin-top: 20px;
    
}

.section-title {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 10px;
}

.task {
    list-style: none;
    padding: 0;
}

.task li {
    display: list-item;
    align-items: center;
    padding: 8px 0;
}

.task li .status {
    font-size: 18px;
    margin-right: 10px;
}

.label {
    background-color: #007bff;
    color: white;
    padding: 4px 8px;
    border-radius: 5px;
    font-size: 12px;
    margin-left: 10px;
}

.label.q1-goals {
    background-color: #9b59b6;
}

.label.recruiting {
    background-color: #2ecc71;
}

.label.mobile {
    background-color: #f39c12;
}

.label.website {
    background-color: #e91e63;
}

.label.sales {
    background-color: #8bc34a;
}